.main-container {
    height: 530px;
    width: 300px;
    border: 2px solid;
    border-radius: 15px;
    background-color: #111b21;
    overflow: scroll;
    scrollbar-width: none;
    position: relative;

}

.header {
    border-radius: 13px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 2;
    padding-bottom: 10px;
    background-color: #111b21;
}

footer {

    height: 50px;
    width: 300px;
    position: fixed;
    top: 490px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #111b21;
    display: flex;
    justify-content: space-around;

}

.profile {
    border-radius: 50%;
}

.nav-left {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
}

.nav-right {
    color: white;
    margin-top: 25px;
    margin-right: 6px
}

.qr {
    color: white;
    text-decoration: none;
    margin: 6px;
}

input {
    width: 290px;
    height: 30px;
    border-radius: 15px;
    margin-top: 6px;
    border: none;
    margin-left: 3px;
}

::placeholder {
    font-size: 17px;
    padding-left: 10px;
}

.all {
    text-decoration: none;
    font-size: 17px;
    color: white;
    background-color: #4a4d4f;
    border-radius: 8px;
    padding: 4px;

}

.elements {
    margin-top: 10px;
    margin-left: 10px;
}

.persons {
    margin-top: 8px;
    display: flex;
    margin-left: 5px;
}

.naveen {
    width: 40px;
    border-radius: 50%;
}

.a {
    font-size: 18px;
    font-weight: 530;
}

.b {
    font-size: small;
}

.n {
    margin-left: 10px;
}

.m-p {
    display: flex;
    justify-content: space-between;
    color: white;
}

.time {
    margin-top: 5px;
    margin-right: 5px;
    font-size: small;
}

.chat {
    color: white;
    margin-top: 5px;
    text-align: center;
}

.chat-icon {
    font-size: 20px;
}
a{
    text-decoration: none;
}

/* .chats {
    color: white;
    /* position: absolute; */
/* bottom: 5px; */
/* left: 10px;
} */